<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExpoCheckIn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <img src="{{ url_for('static', filename='LAC_Multiservices_logo.jpg') }}" alt="Logo Image" class="logo">
    <div class="Welcome">
    <h2>Welcome To LAC Multiservices!</h2>
    <p>Please Check In Below</p>
    </div>

    <form action="/" method="post">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first_name" required>
        <br><br>

        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last_name" required>
        <br><br>

        <label for="phone-number">Phone Number:</label>
        <input type="tel" id="phone-number" name="phone_number" pattern="[0-9]{10}" required>
        <br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>

            <!-- Type of Service selection -->
        <label for="service-type">What service did you come in for today?</label>
        <select id="service-type" name="service" required>
            <option value="" disabled selected>Select Option</option>
            <option value="Immigration">Immigration</option>
            <option value="Accounting">Accounting</option>
            <option value="Real_Estate">Real Estate</option>
            <option value="Insurance/DMV">Insurance and & DMV Services</option>
            <option value="Multiservices">Multiservices</option>
        </select>

        <br>

        
            <!--Who Assisted You today-->
        <label for="staff">Who helped you out today?</label>
        <select id="staff" name="staff" required>
            <option value="" disabled selected>Select Option</option>
            <option value="Liliana">Liliana Arcaro</option>
            <option value="Cindy">Cindy Gaviria</option>
            <option value="Mayra">Mayra Ariza</option>
            <option value="Adriana">Adriana Gaviria</option>
         
        </select>

    <!--CHECK BOX FOR UPDATES ON EXPO--> 

        <br>
        <div class="checkbox-container">
            <input type="checkbox" id="opt-in" name="opt_in" value="yes">
            <label for="opt-in">I want to receive emails and/or texts about future LAC Multiservices updates.</label>
        </div>
        <br>

        <button type="submit" aria-label="Submit Check-In Form">Check In</button>
        <br><br>
    </form>


    
</body>
</html>
